body{
    background-color: rgb(152, 0, 223);
    color:black
    margin 0px;
}

header{
   border-bottom: solid 2px rgb(187, 120, 231);
   padding: 20px;
   font-size: 32px;
   color: rgb(211, 125, 245);
}

section{
    background-color: rgb(79, 6, 97);
    padding-top: 80px;
    padding-bottom: 80px;

}



