body{
    background-color: aquamarine;
    color:black
    margin 0px;
}

header{
   border-bottom: solid 2px rgb(143, 245, 248);
   padding: 20px;
   font-size: 32px;
   color: rgb(147, 251, 255);
}

section{
    background-color: aqua;
    padding-top: 80px;
    padding-bottom: 80px;
}



